.headerWrapper h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (min-width: 768px) {
  .headerWrapper h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .category {
    margin: 0 1em;
  }
}
