.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

.types {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 768px) {
  .container h3 {
    font-size: 2rem;
  }
}
