* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid limegreen; */
  font-family: "Libre Franklin", sans-serif;
}

body {
  background-color: #faf9f6;
  scroll-behavior: smooth;
}
