.container {
  width: 100%;
  background-color: #faf9f6;
  display: flex;
  padding: 0.5rem 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logoWrapper {
  background-color: hsl(0, 0%, 90%);
  padding: 1.25em;
  border-radius: 50%;
  margin: 0.5rem 0;
}

.logo {
  font-size: 1.25rem;
}

.hamburgerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
}

.hamburgerWrapper p {
  transform: rotate(90deg);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.navMenu {
  display: none;
}

@media (min-width: 1024px) {
  .hamburgerWrapper {
    display: none;
  }

  .navMenu {
    display: block;
  }

  .navMenu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
  }

  .navMenu ul li {
    cursor: pointer;
    font-size: 1.25rem;
  }
}
